.container2{
    width:100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
}
.welcome{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #B49A9A;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);

}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding:24px 20px;
    font-size:20px;
    color: #5a5873;
}
::placeholder{
    color: #61617f;
}
.search-bar button img{
    width: 25px;

}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #adb5e4;
    cursor: pointer;
}