*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #B49A9A;
    font-family:'Work Sans' , sans-serif;
    font-weight: 300;
    padding:0;
    height: 100vh;
    overflow:hidden;
}


header{
    background:#FFFFFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}
.container{
    width:80%;
    margin: 0 auto;
     
 }
 .container2{
    width:100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #B49A9A;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar-links li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;

}

.navbar-links li a{
    text-decoration: none;
    color: #B49A9A;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-links:hover{
    color: rgb(196, 90, 90);
}

.navbar-links a::before {
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color:  rgb(196, 90, 90);
    position: absolute;
    top:0%;
    width: 0%;

    transition: all ease-in-out 200ms;
}
.navbar-links a:hover::before{
    width:100%;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #B49A9A;
    border-radius: 10px;
}

@media (max-width:600px) {
    .toggle-button{
        display: flex;
        z-index: 5;
    }

    .navbar-links{
        display: none;
        width: 100%;
        z-index: 5;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        z-index: 5;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
        z-index: 5;
    }
    .navbar-links li{
        text-align: center;
        z-index: 5;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        z-index: 5;
    }
    .navbar-links.active{
        display: flex;
        z-index: 5;
    }
    .welcome{
        display: none;
        z-index: 5;
    }
    .container2{
        background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        z-index: 5;
    }
    header{
        z-index: 5;
    }

}